body {
  background-color: black;
  color: white;
}

section {
  width: 80%;
  border: 1px solid white;
  border-radius: 3px;
  margin: 0 auto;
  padding: 30px;
}

section header {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.linkHighScores {

}
.divTimer {
  float:right;
  color: white;
}

